[submodule "Comet/third-party/spdlog"]
	path = Comet/third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Comet/third-party/GLFW"]
	path = Comet/third-party/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Comet/third-party/ImGui"]
	path = Comet/third-party/ImGui
	url = https://github.com/TheCherno/imgui.git
